<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <img th:src="@{/images/logo.png}" alt="Descrição da Imagem" class="login-image">
    <h1 th:text="#{login.title}">Login</h1>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="error-message">
            <span th:text="#{login.error.invalid.credentials}">Email ou senha inválidos.</span>
        </div>
        <div th:if="${param.logout}" class="success-message">
            <span th:text="#{login.success.logout}">Você foi desconectado.</span>
        </div>
        <div th:if="${successMessage}" class="success-message">
            <span th:text="${successMessage}"></span>
        </div>

        <label for="username" th:text="#{login.form.email}">Email:</label>
        <input type="text" id="username" name="username" required>

        <label for="password" th:text="#{login.form.password}">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" th:text="#{login.button}">Entrar</button>
    </form>
    <p>
        <span th:text="#{login.no.account}">Não tem uma conta?</span>
        <a th:href="@{/registro}" th:text="#{login.register.here}">Registre-se aqui</a>.
    </p>
    <div class="language-switcher">
        <a th:href="@{/login(lang='pt_BR')}">Português</a> | <a th:href="@{/login(lang='en')}">English</a>
    </div>
</div>
</body>
</html>