<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="error-message">
            Email ou senha inválidos.
        </div>
        <div th:if="${param.logout}" class="success-message">
            Você foi desconectado.
        </div>
        <div th:if="${successMessage}" class="success-message">
            <span th:text="${successMessage}"></span>
        </div>

        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a th:href="@{/registro}">Registre-se aqui</a>.</p>
</div>
</body>
</html>