<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.vendas}">Vendas</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900">
<div class="max-w-4xl mx-auto p-4">

    <div th:replace="~{fragments.html :: navbar('clientes')}"></div>

    <div class="bg-white p-4 mt-4 shadow-md rounded-md">
        <main class="flex flex-col items-center">
            <form th:action="@{/clientes/detalhe}" method="post">
                <p class="text-left" th:text="#{cliente.search.title}">Localizar cliente</p>
                <div class="flex items-center space-x-2">
                    <input id="cpfInput" type="text" th:placeholder="#{cliente.search.cpf.placeholder}" pattern="\d{11}"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           class="border border-gray-300 p-2 rounded w-72"
                           name="cpf" th:object="${cpf}">
                    <button type="submit" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
                            th:text="#{cliente.search.button}">Localizar
                    </button>
                </div>

            </form>
        </main>
    </div>

</div>
</body>
</html>